body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background: url(https://images.unsplash.com/photo-1633113214207-1568ec4b3298?auto=format&w=1000);
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
a {
    color: #BFD7EA;
    text-decoration: none;
    background: linear-gradient(#BFD7EA, #BFD7EA);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0px 1px;
    transition: background-size 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}
a:hover {
    background-size: 100% 1px;
}
* {
    color: white;
    font-family: "Montserrat";
    font-weight: 200;
}
section {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlays {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}
.overlays>.text {
    position: absolute;
    right: calc(0px - (120px / 3));
    top: 0%;
    bottom: 0%;
    background: url(https://firebasestorage.googleapis.com/v0/b/tensorshareio.appspot.com/o/TENSORSHARE_SVG.svg?alt=media);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    width: 120px;
    height: 100vh;
}
.image-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    float: right;
    display: inline;
    z-index: -1;
}
.image-container>div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: opacity 2s linear;
}
.image-container>.image-1 {
    z-index: 1;
}
.image-container>.overlay {
    opacity: 0.75;
    z-index: 5;
    background: linear-gradient(0deg, black, transparent);
}
main>.container {
    width: 50vw;
    height: 100vh;
    transition: width 0.25s cubic-bezier(0.33, 1, 0.68, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
main>.container>div {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 33%;
    border-radius: 2vw;
    outline: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    min-width: 200px;
}
main>.container>div>h1 {
    font-size: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
main>.container>div>div {
    position: absolute;
    bottom: 15px;
    left: 0%;
    right: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
main>.container>div>div>button {
    width: 45%;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    /* transition: background 0.15s ease; */
}
main>.container>div>div>button.yes {
    background: rgb(255, 69, 58);
}
main>.container>div>div>button.yes:hover {
    background: rgb(255, 50, 40);
}
main>.container>div>div>button.no {
    background: rgb(10, 132, 255);
}
main>.container>div>div>button.no:hover {
    background: rgb(25, 150, 255);
}
@media (max-width: 720px) {
    main>div {
        width: 100vw
    }
}