<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='imageindex.js')}}"></script>
    <script src="{{url_for('static', filename='tyd.js')}}"></script>
    <script src="{{url_for('static', filename='ty.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='ty.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='Montserrat.css')}}">
    <title>TensorShare - Thank You.</title>
</head>
<body>
    <div class="overlays">
        <div class="text"></div>
    </div>
    <section>
        <div class="image-container">
            <div class="overlay"></div>
            <div class="image-1"></div>
            <div class="image-2"></div>
        </div>
        <main>
            <div>
                <h1><span>Thank you</span>, {{name}}.</h1>
                <h2>You're breathtaking</h2>
            </div>
            <h3>We attempted to send you a confirmation email at <a href="{{emailProvider}}">{{email}}</a></h3>
        </main>
    </section>
</body>
</html>